<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="JANoodle" content="an app for scheduling events">
  <meta name="author" content="Jeff Tang, Abraham Prince, Noah Birenbaum">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- FONT -->
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>JANoodle!</title>
</head>

<body>
  <section class="hero  is-fullheight create-section">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column">
          <header>
            <h3 class='headerText'> JANoodle</h3>
          </header>
          <section class="section">
            <div class="container">
            </div>
            <h4>Share this page with your friends: </h4>
            <h4>
              <a href="http://localhost:8080/poll/<%=eventInfo[0].id%>">http://localhost:8080/poll/<%=event_url%>
              </a>
            </h4>
            <div class='mainArea'>
              <h2>
                <%=eventInfo[0].name%>
              </h2>
              <h3>
                <%=eventInfo[0].description%>
              </h3>
              <h3>
                <%=eventInfo[0].creator_name%> -
                  <%=eventInfo[0].creator_email%>
              </h3>



          </section>
          <table class="table is-bordered is-striped  is-hoverable is-fullwidth" id="availabilities">
            <tr>
              <td></td>
              <% timeInfo.forEach(function(timeSlot) { %>
                <td>
                  <%= timeSlot.start.toLocaleDateString() %>
                </td>
                <% }) %>
            </tr>
            <tr>
              <td id='totalCounter'>
                <span>
                  <i class="fas fa-plus"></i>
                </span> New Participant
              </td>
              <% if (availInfo.length > 1) { %>
                <% availInfo.forEach(function(slotSum) { %>
                  <td>
                    <i class="fas fa-check trueHandler"></i>
                    <%=slotSum.count%>
                  </td>
                  <% })} else if (availInfo.length == 0) { %>
                    <% timeInfo.forEach(function(timeSlot) { %>
                      <%=console.log('this is the avail info', timeSlot.id) %>
                        <td>
                          <i data-id=<%=timeSlot.id%> class="fas fa-check trueHandler">0</i>
                        </td>
                        <% }) %>
                          <% } %>
            </tr>
            <form action="/poll/<%=event_url%>/add" method="POST">
              <tr>
                <td id='totalCounter'>
                  <input name="nameInput" class='forms' type='text' placeholder='name' />
                  <input name="emailInput" class='forms' type='email' placeholder='email' />
                  <button type='submit' class='submit'>Submit my poll</button>
                </td>
                <% timeInfo.forEach(function(timeSlot) { %>
                  <td>
                    <input type="radio" name="<%=timeSlot.id%>" id="<%=timeSlot.id%>[]" value="true"> Can Attend
                    <br>
                    <input type="radio" name="<%=timeSlot.id%>" id="<%=timeSlot.id%>[]" value="false" checked> Can't Attend
                    <br>
                  </td>
                  <% }) %>
              </tr>
            </form>
            <% for (var element in attendeeInfo) { %>
              <tr>
                <td class="user">
                  <%= attendeeInfo[element].name %>
                    <i data-id="<%='delete-'+attendeeInfo[element].id%>" s class="far fa-trash-alt"></i>
                </td>
                <% attendeeInfo[element].avail.forEach(function(availStatus, i) { %>
                  <% if (availStatus == true)   {%>
                    <td>
                      <i data-event-url="<%=event_url%>" data-id="<%=  attendeeInfo[element].id + '-' + attendeeInfo[element].timeID[i] %>" class="fas fa-check trueHandler"></i>
                    </td>
                    <% }else if (availStatus == false) { %>
                      <td>
                        <i data-event-url="<%=event_url%>" data-id="<%=  attendeeInfo[element].id + '-' + attendeeInfo[element].timeID[i] %>" class="fas fa-times falseHandler"></i>
                      </td>
                      <%}}) %>
              </tr>
              <% } %>
          </table>
          </div>
        </div>
  </section>
</body>
